body{
	background: black;
	color: whitesmoke;
}

header{
	padding-bottom: 200px;
}

.sideBar{
	padding: 100px;
}

.options{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
	padding: 100px;
}

a{
	display: flex;
	align-items: flex-end;
	color: white;
	text-decoration: none;
	font-size: 40px;
	font-weight: 800px;
}

a:hover{
	width: 75%;
	height: 150px;
	border-radius: 10px;
	background: whitesmoke;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px;
}

#credits{
	font-size: 15px;
}

#credits h1{
	font-size: 20px;
	color: grey;
}



footer{
	display: flex;
	align-items: flex-end;
	background: #232323;
	color: whitesmoke;
	padding: 100px;
}
