input{
  width: 100%;
  background: whitesmoke;
  color: grey;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  margin-to: 10px;
}

button{
  background: #EF4243;
  color: white;
  padding: 10px;
  font-weight: 400;
  border: none;
  border-radius: 10px;
}

.answer-container{
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  background: #CE9B4C;
}

a{
  color: black;
  font-size: 20px;
  text-align: center;
  display: unset;
}