body{
	background: #18191B;
	color: whitesmoke;
	font-family: 'Poppins',sans-serif;
}

#accueil{
	background: linear-gradient(to right, rgba(0,0,0,1) 45%, rgba(0,0,0,0)), url('images/FOND.png');
	background-position: right;
	width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

#pre{
  background-color: black;
  width: 100%;
}

.recap{
  width: 45%;
  height: auto;
  color: #232323;
  border-radius: 25px;
  background-color: white;
  padding-top: 100px;
  padding: 20px;
}

.preSuite{
  border: 3px solid white;
  border-radius: 10px;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px;
  width: auto;
}

.preSuite:hover{
  width: auto;
  border-radius: 10px;
  transition: 0.5s;
  background: whitesmoke;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.preSuite a{
  text-decoration: none;
  color: whitesmoke;
}

.preSuite a:hover{
  text-decoration: none;
  color: black;
}

.element{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  border-radius: 0%;
	background: #894965;
	color: color;
	margin: 0px;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  width: 60px;
  height: auto;
  z-index: 1;

  background: #232323;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.subnav-content a {
  float: left;
  font-size: 10px;
	font-weight: 200;
	color: white;
}

.subnav-content a:hover {
	border: 1px solid white;
}

.subnav:hover .subnav-content {
  display: block;
}

.ex{
	background: #894965;
	padding: 10px;
	width: 35px;
	height: auto;
	text-align: center;
	margin: 2px;
}

header{
	width: 100%;
	padding-bottom: 100px;
}

header img{
	max-width: 100%;
	height: auto;
}

.accueil{
	padding-bottom: 150px;
}

.side{
	padding: 90px;
	padding-bottom: 100px;
}

.sideBar{
	padding: 50px;
	padding-bottom: 100px;
	font-size: 15px;
}

.options{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 100px;
  text-align: right;
}

.options h1{
	font-weight: 800;
}

.options a{
	color: white;
	text-decoration: none;
	font-size: 40px;
	font-weight: 800px;
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
}


a.op:hover{
	border-radius: 10px;
	transition: 0.5s;
	background: whitesmoke;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px;
}

#credits{
	font-size: 15px;
}

#credits h1{
	font-size: 20px;
	font-weight: 500;
}

p.title{
	border-radius: 5px;
	background: #e0e0e0;
	color:#fff;
}

.def{
  background: #333333;
  font-weight: bold;
  text-decoration: underline;
}

.def-B{
  background: #333333;
  font-weight: bold;
  text-decoration: underline;
  color: whitesmoke;
}

#code-editor{
    width: 100%;
    height: auto;
    background: #232323;
    border: none;
    display: flex;
  }
  
  .numbers{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    background: #444242;
    color: #e0e0e0;
  }
  
  textarea{
    width: 100%;
    background: #232323;
    color: grey;
    border: none;
    border-right-radius: 10px;
    resize: none;
  }
  
  textarea:focus{
    outline: none !important;
  }

  .ligne{
    height: 30px;
  }

  .scroll{
  	overflow: hidden;
  }

	.out{
		margin-right: 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

  #game-container {
    width: 90%;
    height: 80%;
    background: whitesmoke;
    color: black;
    border-radius: 25px;
    font-family: 'Barriecito',sans-serif;
  }
  
  #rendered-output {
      margin: 20px;
      text-align: center;
      font-size: 20px;
  }

.response{
  color: #EF4243;
  font-weight: bold;
}

footer{
	display: flex;
	align-items: flex-end;
	background: #29161E;
	color: #894965;
	padding: 75px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #e0e0e0;
  color: #232323;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
  padding: 10px 10px;
  transition: opacity 0,5s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.level:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  transition: opacity 0,5s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.level:onclick:before {
  opacity: 1;
  visibility: visible;
}