body{
	background: black;
	color: whitesmoke;
	font-family: 'Poppins',sans-serif;
}

#accueil{
	background: linear-gradient(to right, rgba(0,0,0,1) 45%, rgba(0,0,0,0)), url('images/FOND.png');
	background-position: right;
	width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

header{
	width: 100%;
	padding-bottom: 100px;
}

header img{
	max-width: 100%;
	height: auto;
}

.accueil{
	padding-bottom: 150px;
}

.sideBar{
	padding: 100px;
	padding-bottom: 100px;
	
}

.options{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
	padding: 100px;
}

.options h1{
	font-weight: 800;
}

a{
	display: flex;
	align-items: flex-end;
	color: white;
	text-decoration: none;
	font-size: 40px;
	font-weight: 800px;
}


a.op:hover{
	width: 50%;
	height: 150px;
	border-radius: 10px;
	transition: 0.5s;
	background: whitesmoke;
	color: black;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 20px;
}

#credits{
	font-size: 15px;
}

#credits h1{
	font-size: 20px;
	font-weight: 500;
}

p.title{
	border-radius: 5px;
	background: #e0e0e0;
	color:#fff;
}

textarea{
  width: 100%;
  height: 250px;
  background: #232323;
  color: #e0e0e0;
  border: none;
}

.def{
	background: red;
}

.out{
	display: flex;
	align-items: center;
}

footer{
	display: flex;
	align-items: flex-end;
	background: #29161E;
	color: #CE9B4C;
	padding: 75px;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #e0e0e0;
  color: #232323;
  text-align: center;
  font-weight: 300;
  border-radius: 5px;
  padding: 10px 10px;
  transition: opacity 0,5s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
