  #game-container-perso{
    width: 90%;
    height: 80%;
    background-image: url('images/dossier.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: black;
    font-family: 'Courier Prime',sans-serif;
  }

  .overflow{
    margin-left: 9.8%;
    margin-top: 21%;
    margin-right: 17.9%;
    background-color: white;
  }

  #rendered-output-perso{
    font-size: 11px;
  }

  h2{
    font-size: 18px;
  }

  h6{
    font-size: 12px;
  }
  li, li a, p{
    font-size: 15px;
  }